.createTodo
    width: 560px
    display: flex
    justify-content: center
    height: 50px
    input
        width: 70%
        outline: none
        font-family: sans-serif
        font-size: 15px
        padding: 10px
        text-transform: uppercase
        font-weight: bold
        border: none
        background-color: #fcfcfc
    button
        width: 30%
        background: #61dafb 
        border: none
        color: white
        text-transform: uppercase
        font-weight: bold
        font-family: sans-serif
        &:hover
            cursor: pointer
            background-color: aqua